@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}
a{
	font-weight: bold;
	color: black;
text-decoration: none;
}

body{
	margin-top: 60px;
	background-color: #FAFAFA;
}

main, nav, .conteiner{
	max-width: 728px;
	margin: 0 auto;

}

.conteiner{

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.topo {
	width: 100%;
	background-color: white;	
	box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	padding: 6px 16px 4px;
	position: fixed;
	top: 0;
	right: 0;

}

.topo__logo {
	margin-top: 2px;
	height: 40px;
}

.topo__icon{
	color: #000;
}

.stories{
	padding: 16px 0;
	display: flex;
	align-items: center;
	
}
.stories__avatar--new{
	background: linear-gradient(45deg, rgba(245,160,77,1) 0%, rgba(160,15,139,1) 100%);
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 0 20px;
	display: flex;
	
	
	
    
}

.stories__avatar{
	
	border-radius: 50%;
	width: 73px;
	height: 73px;
	margin: auto;
	border: 2px solid white;
	
	
	
	
}




.card {
	margin-top: 16px;
	margin-bottom: 30px;
	background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
	
}
.card__header {
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user {
	display: flex;
	align-items: center;
}

.user__avatar {
	border-radius: 50%;
	height: 40px;
	margin-right: 8px;
	
}

.user__name {
	
	font-size: .8rem;
}

.card__moreIcon{
	padding: 0 6px  ;
}

.card__image {
	width: 100%;
}
.actions{
	padding: 4px;
	position: relative;
}
.action__icon, .action__icon--save{
	font-size: 1.6em;
	padding: 1px 6px;
	margin: 8px 8px;
}
.action__icon--save{
	position: absolute;
	right: 0;
}

.card__data{
	padding: 8px;
    background-color: rgba(0, 0, 0, 0.05);
}




